<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Sala chat PPS-4A</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" shape="round" routerLink="/home">
        Volver
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="card-content">
    <div class="msjDelChat h-100" id="contenedorMsj">              
        <p *ngFor="let msj of arrayMensajes" class="msjChat p-2" [ngClass]="(this.usuarioLogueado.uid == msj.emisor) ? 'propio' : 'otro'">
            {{ msj.texto }}
        </p>
    </div>
  </div>
  <form class="card-footer text-muted input-group" (ngSubmit)="enviarMensaje()">        
    <input type="text" class="form-control" placeholder="Envíe el Mensaje" [(ngModel)]="mensajeNuevo" [ngModelOptions]="{standalone: true}">
    <div class="input-group-append" (click)="enviarMensaje()">
        <span class="input-group-text" id="basic-addon2">
            <img class="imgEnviar" src="/assets/images/send.png" alt="send"> 
        </span>
    </div>        
  </form> 

</ion-content>
