<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Conversando en el Aula
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content split-pane="true">
  <!-- contenido de la parte izquierda -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input label="Email" labelPlacement="stacked" placeholder="Email" type="email"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-input label="Contraseña" labelPlacement="stacked" placeholder="Contraseña" type="password"></ion-input>
        </ion-item>

        <ion-button expand="block" color="success">Ingresar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-text-center">
    <ion-badge color="tertiary" class="ion-text-lg-center">Elija un perfil</ion-badge>
  </ion-grid>
  
  <swiper-container class="border-carousel"
    [modules]="swiperModules"
    [slidesPerView]="2.3"
    [initialSlide]="0"
    [centeredSlides]="true"
    [pagination]="{clickable:true}"
    >
    <swiper-slide>

      <button class="boton-imagen">
        <img src="/assets/images/students.png" alt="img-medico" width="50%" height="50%" >
        <p class="nombre-perfil">Admin</p>
      </button>
    </swiper-slide>

    <swiper-slide>
      <button class="boton-imagen">
        <img src="/assets/images/students.png" alt="img-medico" width="50%" height="50%" >
        <p class="nombre-perfil">Invitado</p>
      </button>
    </swiper-slide>

    <swiper-slide>
      <button class="boton-imagen">
        <img src="/assets/images/students.png" alt="img-medico" width="50%" height="50%" >
        <p class="nombre-perfil">Anónimo</p>
      </button>
    </swiper-slide>

    <swiper-slide>
      <button class="boton-imagen">
        <img src="/assets/images/students.png" alt="img-medico" width="50%" height="50%" >
        <p class="nombre-perfil">Usuario</p>
      </button>
    </swiper-slide>

    <swiper-slide>
      <button class="boton-imagen">
        <img src="/assets/images/students.png" alt="img-medico" width="50%" height="50%" >
        <p class="nombre-perfil">Tester</p>
      </button>
    </swiper-slide>

  </swiper-container>

  <ion-row class="ion-justify-content-center ion-padding">
    <img src="assets/images/people-talking.png" class="ion-margin" width="50%" height="50%"/>
  </ion-row>

</ion-content>
